{% include "header.html" %}
{% load static %}
      <!-- end header inner -->
      <!-- end header -->
        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                      <h2>Blog</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog -->
      <div  class="blog">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                    
                     <p class="margin_0">Lorem Ipsum available, but the majority have suffered </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="blog_box">
                     <div class="blog_img">
                        <figure><img src="../static/images/blog1.jpg" alt="#"/></figure>
                     </div>
                     <div class="blog_room">
                        <h3>Luxury Pool View Room</h3>
                        <span>Relax with a beautiful poolside view. </span>
                        <p>Enjoy a peaceful stay with a refreshing pool view and modern facilities for complete comfort. </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="blog_box">
                     <div class="blog_img">
                        <figure><img src="../static/images/blog2.jpg" alt="#"/></figure>
                     </div>
                     <div class="blog_room">
                        <h3>Deluxe Modern Room</h3>
                        <span>Stylish interiors with premium comfort. </span>
                        <p>Experience elegant interiors, spacious design, and all modern amenities for a luxury stay. </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="blog_box">
                     <div class="blog_img">
                        <figure><img src="../static/images/blog3.jpg" alt="#"/></figure>
                     </div>
                     <div class="blog_room">
                         <h3>Comfortable Standard Room</h3>
                        <span>Perfect stay with cozy and clean space. </span>
                        <p>A well-furnished room designed for comfort, relaxation, and a peaceful sleeping experience. </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end blog -->
     
      <!--  footer -->
      {%include "footer.html"%}